
.btn-primary {
  background-color: theme-color("primary");
  border-color: theme-color("primary");
  color: $white;
  &:hover,
  &:focus,
  &:active { 
    background-color: theme-color("primary-dark");
    border-color: theme-color("primary-dark");
    color: $white;
  }
}

.btn-default {
  color:gray("600");
  &:focus { 
    border-color:gray("350");
    color:gray("600");
  };
  &:hover,
  &:active{
    border-color: theme-color("primary");
    color: theme-color("primary");
  }
}

.btn-ghost {
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  color: gray('500');
  &:hover,
  &:focus,
  &:active {
    border: none;
    color: gray('700');
  }
}