@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

$system-fontstack:     system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$main-font:            'Titillium Web', $system-fontstack, sans-serif;
$secondary-font:       $system-fontstack;