.loading {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

  i.ant-spin-dot-item  {
    background-color: theme-color('primary') !important;
  }