/************************************************/
/********************  NAV   ********************/
/************************************************/

// Navbar styles
.navbar-brand {
  margin-left: 0.5rem;
  padding: 0;
  svg {
    width: 155px;
    height: 40px;
    display: block;
    fill: $white;
  }
}

.navbar {
  a {
    position: relative;
    line-height: 1;
  }
  .notifications-counter {
    position: absolute;
    min-width: 20px;
    width: auto;
    min-height: 20px;
    padding: 1px;
    border-radius: 10px;
    background-color: theme-color("danger");
    top: 0;
    right: 0;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    font-family: $secondary-font;
    font-weight: 700;
    color: $white;
  }
  .menu-dropdown {
    padding: 0;
    .dropdown-toggle {
      padding: 0;
      .details {
        color: $white;
        float: left;
        padding-top: 7px;
        padding-left: 7px;
        .name {
          font-weight: 500;
          line-height: 14px;
        }
        .function {
          color: rgba($white, .8);
          font-family: $secondary-font;
          font-size: 12px;
          font-weight: 700;
          line-height: 12px;
        }
      }
      &:after {
        display: inline-block;
        width: 10px;
        height: 18px;
        margin-top: 10px;
        margin-left: 1rem;
        border: 0;
        /*background: url("../public/images/svg/angle-down.svg");*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: brightness(0) invert(1);
      }
    }
    /*&.show .dropdown-toggle:after {
      background: url("../public/images/svg/angle-up.svg");
    }*/
  }
  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
    float: left;
    box-shadow: 0px 0px 3px 0px rgba($black, .5);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
