.p-30-50 {
   padding: 30px 50px;
}
  
.p-10-20 {
   padding: 10px 20px;
}

.p-0-60 {
   padding: 0px 60px;
}
  
.p-20-0 {
   padding: 20px 0px;
}
  
.p-10-0 {
   padding: 10px 0px;
}
  
.p-b-30 {
   padding-bottom: 30px;
}
  
.p-t-10 {
   padding-top: 10px;
}
  