// Pagination
.pagination {
  border-radius: $border-radius;
  font-family: $secondary-font;
  font-weight: 500;
  margin: 1.25rem 0;
  > li {
    > a,
    > span {
      display: inline-block;
      padding: $pagination-padding-y $pagination-padding-x;
      color: $gray-600;
      background-color: transparent;
      border: 1px solid $gray-300;
      margin-left: -1px;
      cursor: pointer;
      > span {
        vertical-align: middle;
      }
    }
    &:first-child {
      > a,
      > span {
        border: 0;
        padding-top: 8px;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
    &:last-child {
      > a,
      > span {
        border: 0;
        padding-top: 8px;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
    &:nth-child(2) {
      > a,
      > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:nth-last-child(2) {
      > a,
      > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $white;
      background-color: $gray-600;
      border-color: transparent;
    }
  }
  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: $white;
      background-color: theme-color("primary");
      border-color: theme-color("primary");
    }
  }
  .arrow-icon-prev,
  .arrow-icon-next {
    width: .5rem;
    height: 14px;
  }
}